:root {
    --primary-color: #0667cc;
    --primary-color-80: #0667cccc;
    --secondary-color: #8f9d3d;
    --accent1-color: #0e171e;
    --accent2-color: #826a02;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sand-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* border-bottom: 2px solid var(--primary-color-80); */
    padding-bottom: .5rem;
}

header img {
    width: 120px;
    height: auto;
    justify-self: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navigation a {
    padding: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

div.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    background-color: white;
    opacity: .7;
    color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: -10px;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 10px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: .5rem;
}

.hero article p {
    margin: 0;
    text-align: justify;
}

/* section history */
.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 1rem 0 0;
    padding: 0;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: .5rem;
}

.history p {
    margin: 0;
    text-align: justify;
}

.history img {
    width: 200px;
}

/* section adventure */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 0 1rem;
    padding: 0;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
    padding: 0 0 1rem;
}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.adventure img {
    width: 110px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    border-top: 2px solid var(--primary-color-80);
}

footer p,
footer nav {
    margin: 0;
    padding: 1.5rem 0;
}

footer .socialmedia {
    display: flex;
    gap: 15px
}

.socialmedia a {
    text-decoration: none;
    display: inline-flex;
}

footer p {
    color: var(--accent2-color);
    font-weight: 700;
}

footer nav img {
    width: 35px;
    height: auto;
}

/* contact */
main.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company__information {
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 1rem;
}

.company__information h1 {
    margin-bottom: 0;
}

.company__information p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-color);
}

.company__map iframe {
    border: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    padding: .5rem;
}

section.company_form {
    margin: 0;
    padding: 0;
}

section.company_form form {
    padding: 1rem;
}

.company_form .form-item {
    display: grid;
    margin-bottom: .5rem;
    align-items: center;
}

.company_form .form-item label {
    margin-bottom: 2px;
}

.company_form .column2 {
    grid-template-columns: 1fr 2fr;
}

.company_form .column2 p {
    margin: 0;
    padding: 0;
}

.company_form .message__purpose {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
}

.form-item__subscribe {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

.form-item__subscribe input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.company_form .button {
    display: flex;
    justify-content: center;
}

.company_form .button button {
    font-size: 1.25em;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.company_form .button button:hover {
    /* background-color: var(--primary-color-80); */
    color: var(--accent1-color);
}

.employees {
    grid-column: 1 / 3;
    margin: 0 0 1rem;
    padding: 0;
}

.employees div {
    display: flex;
    justify-content: space-around;
}

.employees h2 {
    text-align: center;
    padding: 0 0 1rem;
}

.employees div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.employees div img {
    width: 110px;
    height: auto;
}