:root {
    --primary-color: #0667cc;
    --secondary-color: #8f9d3d;
    --accent1-color: #0e171e;
    --accent2-color: #826a02;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sand-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    font-size: 0;
}

div.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    background-color: white;
    opacity: .7;
    color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: -10px;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 10px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: .5rem;
}

.hero article p {
    margin: 0;
    text-align: justify;
}

footer p {
    color: var(--accent2-color);
    font-weight: 700;
}

footer nav img {
    width: 35px;
    height: auto;
    margin-right: 1rem;
}