:root {
    --primary-color: #0667cc;
    --primary-color-80: #0667cccc;
    --primary-hover: #037fff;
    --secondary-color: #8f9d3d;
    --accent1-color: #0e171e;
    --accent2-color: #826a02;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sand-serif;
    --white: #fff;
    --third-color: #ffbf43;
    --table-head: #7ccdf3;
    --table-line: #c3e4f4;
    --light-dark: #3e3e3e;
    --light-white: #f3f3f3;
    --forth-color: #e70100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* border-bottom: 2px solid var(--primary-color-80); */
    padding-bottom: .5rem;
}

header img {
    width: 120px;
    height: auto;
    justify-self: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navigation a {
    padding: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    background-color: var(--white);
    opacity: .7;
    color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: -10px;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 10px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: .5rem;
}

.hero article p {
    margin: 0;
    text-align: justify;
}

/* section history */
.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 1rem 0 0;
    padding: 0;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: .5rem;
}

.history p {
    margin: 0;
    text-align: justify;
}

.history img {
    width: 200px;
}

/* section adventure */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 0 1rem;
    padding: 0;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
    padding: 0 0 1rem;
}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.adventure img {
    width: 110px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    /* border-top: 2px solid var(--primary-color-80); */
    background-color: var(--light-dark);
}

footer p,
footer nav {
    margin: 0;
    padding: 1.5rem 0;
}

footer .socialmedia {
    display: flex;
    gap: 15px
}

.socialmedia a {
    text-decoration: none;
    display: inline-flex;
}

footer p {
    color: var(--light-white);
    font-weight: 700;
    padding: 0 1rem;
}

footer nav img {
    width: 35px;
    height: auto;
}

/* contact */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company__information {
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 1rem;
}

.company__information h1 {
    margin-bottom: 0;
}

.company__information p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-color);
}

.company__map iframe {
    border: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    padding: .5rem;
}

.company_form {
    margin: 0;
    padding: 0;
}

.company_form form {
    padding: 1rem;
}

.company_form .form-item {
    display: grid;
    margin-bottom: .5rem;
    align-items: center;
}

.company_form .form-item label {
    margin-bottom: 2px;
}

.company_form .column2 {
    grid-template-columns: 1fr 2fr;
}

.company_form .column2 p {
    margin: 0;
    padding: 0;
}

.company_form .message__purpose {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
}

.form-item__subscribe {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

.form-item__subscribe input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.company_form .button {
    display: flex;
    justify-content: center;
}

.company_form .button button {
    font-size: 1.25em;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.company_form .button button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    /* color: var(--accent1-color); */
}

.employees {
    grid-column: 1 / 3;
    margin: 0 0 1rem;
    padding: 0;
}

.employees div {
    display: flex;
    justify-content: space-around;
}

.employees h2 {
    text-align: center;
    padding: 0 0 1rem;
}

.employees div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.employees div img {
    width: 110px;
    height: auto;
}

/* home page */
/* main.home-main {
    width: 100%;
} */

.home-banner {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.home-banner img {
    width: 100%;
    object-fit: cover;
}

.hero-msg {

    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--third-color);
    font-size: 3rem;

    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    border-radius: 10px;
}

.home-trip-link {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-trip-link p {
    font-weight: 700;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.home-trip-link a {
    background-color: var(--third-color);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    padding: 12px 28px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.3s;
}

.home-trip-link a:hover {
    /* background-color: var(--primary-color-80); */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: var(--white);
    color: var(--third-color);
}

.home-main section {
    width: 840px;
    margin: 0 auto;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsletter-box {
    grid-column: 1 / 2;
}

.home-additional img {
    width: 100%;
    height: auto;
}

.home-additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsletter-box {
    padding: 0 1rem;
}

.newsletter-box h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.newsletter-box form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newsletter-box .form-item {
    display: grid;
    margin-bottom: 1rem;
}

.newsletter-box .column2 {
    grid-template-columns: 1fr 2fr;
}

.newsletter-box .button {
    text-align: center;
}

.newsletter-box button {
    font-size: 1.25em;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--light-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.newsletter-box button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    /* color: var(--primary-color); */
}

.home-additional {
    gap: 1rem;
}

.home-additional h2 {
    text-align: center;
}

.home-additional p {
    margin: 0;
    padding: 0;
}

.home-additional__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* trips page */

.trip-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trip-main .table {
    grid-column: 1 / 4;
    margin: 0 0 1rem 0;
    padding: 0;
}

.trip-main .table table {
    border-collapse: collapse;
    letter-spacing: 1px;
}

.trip-main .contact {
    grid-column: 1 / 4;
}

.trips {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 3fr;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.trip-main table thead {
    background-color: var(--table-head);
}

.trip-main caption {
    background: var(--primary-color);
    padding: .5rem;
    color: white;
    font-weight: 700;
}

.trip-main table ul {
    list-style-type: disc;
    padding: 0;
    margin-left: 20px;
}

.trip-main table li {
    margin-bottom: .5rem;
    line-height: 1.5;
}

.trip-main table th,
.trip-main table td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
}

.trip-main table tr span {
    font-weight: 700;
}

.trip-main table tbody tr:nth-child(odd) {
    background-color: var(--table-line);
}

.contact__trip {
    margin: 50px auto;
    grid-column: 1 / 4;
}

.contact__trip a {
    /* display: inline-block;X */
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary-color);
    font-weight: 700;
    color: var(--light-white);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.contact__trip a:hover {
    background-color: var(--primary-hover);
    color: var(--light-white);
    /* border: 1px solid var(--third-color); */
    transform: translateX(2px);
}

.trips h2 {
    text-align: center;
    padding: 1rem;
}

.trips div {
    display: flex;
    justify-content: space-between;
}

.trips h2 {
    grid-column: 1 / 4;
}

.trips img {
    max-width: 150px;
    height: 100px;
}

.trips figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.trips figcaption {
    font-weight: 700;
}

.trips figcaption ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    text-align: center;
}

.trips figcaption li {
    margin-bottom: .5rem;
    line-height: 1.5;
    display: inline-block;
}

.trips figcaption li:first-child {
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {

    .hero-msg {
        font-size: 1rem;
    }

    .home-trip-link {
        font-size: .5rem;
        top: 10rem;
    }

    .home-trip-link a {
        padding: .5rem;
        font-size: .8rem;
        margin-top: .2rem;
        font-weight: 400;
    }
}