* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

/* header h1 {
    color: #241480;
} */

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1.5rem;
    background: #eee;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

fieldset legend {
    color: navy;
    padding: .5rem;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
text-area {
    padding: 0.5rem;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

footer {
    color: #777;
    width: 650px;
    margin: 1rem auto 0;
    text-align: center;
    font-size: .8em;
    border-top: 1px solid #ccc;
}

form textarea {
    margin-top: .5rem;
    padding: .5rem;
}

form button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

form button:hover {
    background: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}