*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 4px solid #790202;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.5em;
    font-weight: 700;
    color: #1107a8;
    padding: 0 10px;
}

input,
select,
textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: 3px solid #6f0303;
    border-radius: 5px;
    border: none;
}

fieldset p.code {
    background-color: #0a0720;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    color: #f3f3f3;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: 700;
    font-size: 2em;
    color: #8b066e;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: #03710e;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 37m38s */