* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background: darkblue;
    --text-color: white;
}

nav {
    background-color: var(--heading-background);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #75c7f0;
}

h1 {
    color: var(--heading-background);
    padding: 1rem 0;
    border-bottom: 2px solid var(--heading-background);
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 840px;
    /* margin: 0 auto; */
    margin: 1rem;
    grid-column: 2 / 3;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    line-height: 1.3;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: justify;
    line-height: 1.3;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: var(--text-color);
}

footer {
    margin-top: 2rem;
    border-top: 2px solid rgba(0, 0, 0, .2);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 1rem;
    background-color: #ddd;
    color: #222;
}