:root {
    --heading-background: darkblue;
    --text-color: white;
}

nav {
    background-color: var(--heading-background);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background);
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1.25rem;
    border: 1px solid rgb(0 0 0 / .2);
    padding: 1rem;
    background-color: #ddd;
    color: #222;
    text-align: justify;
    line-height: 1.3;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid rgb(0 0 0 / .2);
    text-align: center;
}