* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: .25rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
}

section h2 {
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding-bottom: 2px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}