* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 30px #333;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: .25rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

section h2 {
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding-bottom: 2px;
}

footer {
    font-size: .9rem;
}